.scorecard {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}

.md-content .scorecard img {
  display: inline;
  vertical-align: middle;
  margin: 0;
}

li > .scorecard {
  display: inline-flex;
}